#extendedMenu {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#extendedMenu > h1 {
  text-align: center;
}

#extendedMenu > button {
  background-color: var(--dark-color);
  color: var(--light-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

#extendedMenu span {
  padding: 10px;
}

.extendedMenuIcon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: var(--default-font-size);
  height: var(--default-font-size);
  background-color: transparent;
  padding: 1px 6px;
}

#version {
  text-align: center;
}

#controls, #adventureBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: controls;
  width: 100vw;
  height: calc(var(--default-box-size) * 1.2);
  border-bottom: 2px solid var(--light-color);
}

.controlButton {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: var(--default-font-size);
  height: var(--default-font-size);
  background-color: transparent;
  padding: 1px 6px;
}

#settingsIcon {
  background-image: url("@skedwards88/shared-components/src/images/icons/gear.svg");
}

#newGameIcon {
  background-image: url("@skedwards88/shared-components/src/images/icons/new_game.svg");
}

#hintIcon {
  background-image: url("@skedwards88/shared-components/src/images/icons/magnifying_glass.svg");
}

#rulesIcon {
  background-image: url("@skedwards88/shared-components/src/images/icons/question_mark.svg");
}

#heartIcon {
  background-image: url("@skedwards88/shared-components/src/images/icons/heart.svg");
}

#customIcon {
  background-image: url("@skedwards88/shared-components/src/images/icons/pencil.svg");
}

#shareIcon {
  background-image: url("@skedwards88/shared-components/src/images/icons/share.svg");
}

#backIcon {
  background-image: url("@skedwards88/shared-components/src/images/icons/back_arrow.svg");
}

#moreIcon {
  background-image: url("@skedwards88/shared-components/src/images/icons/more.svg");
}

#menuIcon {
  background-image: url("@skedwards88/shared-components/src/images/icons/menu.svg");
}

#infoIcon {
  background-image: url("@skedwards88/shared-components/src/images/icons/info.svg");
}

#calendarIcon {
  background-image:
    url("@skedwards88/shared-components/src/images/icons/calendar.svg"),
    radial-gradient(circle, rgb(239 239 239 / 60%) 30%, rgb(55 54 71));
  width: calc(var(--default-font-size) * 2);
}

#calendarIconSolved {
  background-image: url("@skedwards88/shared-components/src/images/icons/calendar.svg");
}

#installIcon {
  background-image: url("@skedwards88/shared-components/src/images/icons/install.svg");
}

#playIcon {
  background-image: url("@skedwards88/shared-components/src/images/icons/play.svg");
}

#adventureIcon {
  background-image: url("@skedwards88/shared-components/src/images/icons/bar_chart.svg");
}

#adventureLevel {
  font-size: calc(var(--default-font-size) * 0.75);
}

#adventureComplete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

#adventureComplete > h1 {
  margin-bottom: 1rem;
}

#adventureComplete > p {
  margin: 0.5rem 0;
}

#adventureComplete > button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

