#moreGames {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.game-image {
  margin: 2vw;
  width: 40vw;
  height: 70vw;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--light-color);
  border-radius: 5%;
}

.blobble {
  background-image: url("../images/moreGames/blobble.png");
}

.lexlet {
  background-image: url("../images/moreGames/lexlet.png");
}

.wordfall {
  background-image: url("../images/moreGames/wordfall.png");
}

.gribbles {
  background-image: url("../images/moreGames/gribbles.png");
}

.logicGrid {
  background-image: url("../images/moreGames/logicGrid.png");
}
