.rules {
  display: grid;
  grid-template-areas:
    "header"
    "demo"
    "text"
    "close"
    "version";
  text-align: center;
  overflow: auto;
  font-size: calc(var(--default-font-size) * 0.75);
  justify-items: center;
  align-items: center;
}

.rulesIcon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(var(--default-font-size) * 0.75);
  height: calc(var(--default-font-size) * 0.75);
}

/* What's new uses the rules styling, and this is used for what's new */
button.rulesIcon {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

#rulesHeader {
  grid-area: header;
  font-size: var(--default-font-size);
}

#rulesText {
  white-space: pre-line;
  margin: 0 2vmax;
  grid-area: text;
}

#rulesClose {
  height: fit-content;
  width: fit-content;
  grid-area: close;
}

#rulesVersion {
  grid-area: version;
  margin: 0 0 1vmax;
}

#rulesDemo {
  /* width: 100vw; */
  height: 50vh;
  object-fit: contain;
  grid-area: demo;
}
