.settings {
  text-align: center;
  overflow: auto;
  font-size: calc(var(--default-font-size) * 0.75);
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#settings {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  align-items: stretch;
}

.setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin: 0.5cm;
}

.setting-description {
  padding: 0 5px 0 0;
  width: 60%;
}

.setting-info {
  font-size: calc(var(--default-font-size) / 2);
}

#setting-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#setting-buttons > button {
  margin: 10px;
}

/* Checkbox styling */
input[type="checkbox" i] {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  width: calc(var(--default-box-size) * 0.8);
  height: calc(var(--default-box-size) * 0.8);
  border-radius: 2px;
  background-color: var(--light-color);
  border: 3px solid var(--light-color);
}

input[type="checkbox" i]:checked {
  background-image: url("@skedwards88/shared-components/src/images/icons/checkmark_black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Slider setting styling */
input[type="range"] {
  appearance: none;
  width: 100%;
  background: var(--dark-color);
}

input[type="range"]:focus {
  outline: none;
}

/* Slider thumb */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: calc(var(--default-font-size) * 1.5);
  width: calc(var(--default-font-size) * 0.5);
  border-radius: 2px;
  background: var(--light-color);
  box-shadow: 0 0 2px 2px black;
  cursor: pointer;
  margin-top: calc(var(--default-font-size) * -0.5);
}

input[type="range"]::-moz-range-thumb {
  height: calc(var(--default-font-size) * 1.5);
  width: calc(var(--default-font-size) * 0.5);
  border-radius: 2px;
  background: var(--light-color);
  box-shadow: 0 0 2px 2px black;
}

input[type="range"]::-ms-thumb {
  height: calc(var(--default-font-size) * 1.5);
  width: calc(var(--default-font-size) * 0.5);
  border-radius: 2px;
  background: var(--light-color);
  box-shadow: 0 0 2px 2px black;
  cursor: pointer;
}

/* Slider track */
input[type="range"]::-webkit-slider-runnable-track {
  height: calc(var(--default-font-size) * 0.5);
  cursor: pointer;
  background: var(--light-color);
  border-radius: 2px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--light-color);
}

input[type="range"]::-moz-range-track {
  height: calc(var(--default-font-size) * 0.5);
  cursor: pointer;
  background: var(--light-color);
  border-radius: 2px;
}

input[type="range"]::-ms-track {
  height: calc(var(--default-font-size) * 0.5);
  cursor: pointer;
  background: var(--light-color);
  border-radius: 2px;
}

input[type="range"]::-ms-fill-lower {
  background: var(--light-color);
}

input[type="range"]::-ms-fill-upper {
  background: var(--light-color);
}

input[type="range"]:focus::-ms-fill-lower {
  background: var(--light-color);
}

input[type="range"]:focus::-ms-fill-upper {
  background: var(--light-color);
}

#numLetters-info,
#validityOpacity-info {
  color: var(--light-color);
  font-size: var(--default-font-size);
  padding: 0 1vh;
  justify-content: center;
  align-items: center;
}

#numLetters-container,
#validityOpacity-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}

#validity-example {
  font-size: var(--default-font-size);
  position: relative;
  display: inline;

  --validity-opacity: 0.15; /* This value is changed by the Settings component */
}

#validity-example::after {
  position: absolute;
  background-color: var(--light-color);
  content: "";
  height: calc(var(--default-font-size) / 8);
  width: 100%;
  top: 50%;
  left: 0;
  opacity: var(--validity-opacity);
}
