.stats {
  font-size: calc(var(--default-font-size) * 0.75);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#statsDistribution {
  border-top: 3px solid var(--light-color);
  border-bottom: 3px solid var(--light-color);
}

.statsBar {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 90vw;
  margin: 10px 0;
}

.statsBar > .statsDay {
  align-self: center;
  width: calc(var(--default-font-size) * 1);
  padding: 0 2vw;
}

.statsBar > .statsWon {
  background-color: var(--light-color);
  height: calc(var(--default-font-size) * 1.2);
}

.statsNumber {
  text-align: center;
  margin: 1vh 0;
}

.statsNumber > .number {
  font-size: calc(var(--default-font-size) * 1.5);
}

.statLabel {
  padding: 2vw 0 0 2vw;
}
