name: Deploy static content to Pages

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "README.md"
      - "TODO.md"
      - ".github/ISSUE_TEMPLATE/*"
  workflow_dispatch:

permissions:
  contents: write # Required for bumping version (read-only required for deployment)
  pages: write # Required for deployment
  id-token: write # Required for deployment

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup git config
        run: |
          git config --global user.name "skedwards88"
          git config --global user.email "skedwards88@gmail.com"

      - name: Bump version
        run: npm version patch

      - name: Push
        run: |
          git push origin main

      - name: Install requirements
        run: npm install

      - name: Print packages
        run: npm list --depth=0

      - name: Update word lists
        run: npm update @skedwards88/word_lists

      - name: Print packages
        run: npm list --depth=0

      - name: Build
        run: npm run build

      - name: Setup Pages
        uses: actions/configure-pages@v2

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: "./dist/"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
